.fi1{
    background-color: #DAF7A6; 
    color: #ffc874;
}

.fi2{
    background-color: #58D68D;
    color: #74ffca;
}

.le{
    background-color: #900C3F;
    color: #deffba;

}

label{
    
    color: #641E16;
}

.b1{
    background-color: #C70039;
    color:#FFC300;
}

.bapi{
    background-color: #5B2C6F;
    color:#F7DC6F;
}